<!doctype html>
<html>

<head>
    <meta charset="utf8">
    <title>Node Example Plugin Widget</title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            parent.postMessage({
                type: 'checkout/initialize'
            }, '*');
            parent.postMessage({
                type: 'checkout/resize_frame',
                payload: {
                    height: 100
                }
            }, '*');
        });
    </script>
</head>

<body>
    <h1>Hello Cashier</h1>
</body>

</html>